# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [9]:
# Creates a dictionary
Dict={}
type(Dict)

dict

In [3]:
Dict1=dict()
type(Dict1)

dict

In [23]:
data={'Alabama':'Montgomery',
     'Arizona': 'Pheonix',
     'Georgia': 'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Columbus'}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [24]:
data['Ohio']

'Columbus'

In [26]:
data['Georgia']

'Atlanta'

In [27]:
# This gives a key error.
# data['New York']

KeyError: 'New York'

In [1]:
day={1: 'Monday',
     2: 'Tuesday',
     4: ('Thursday', 'Friday'),
     5: ['Saturday','Sunday']}

### Update elements of a dictionary and add new elements

In [2]:
# Access Thursday
day[4][0]

'Thursday'

In [3]:
# Access Sunday
day[5][1]

'Sunday'

In [4]:
day[3]='Wednesday'

In [5]:
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Sunday'],
 3: 'Wednesday'}

In [6]:
# Update saturday to holiday
day[5][0]='Holiday' # to update access the value and then assign it a new value. 
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Sunday'],
 3: 'Wednesday'}

In [10]:
day[5][1]='Holiday'
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday'],
 3: 'Wednesday'}

In [ ]:
# update thrusday to holiday
#day[4][0]='Holiday' cannot update a tuple
#day

### `get` and `update` methods

In [12]:
# return Wednesday
day.get(3)

'Wednesday'

In [13]:
# monday
day.get(1)

'Monday'

In [14]:
day.get(6) # doesn't generate error if key is not present

In [15]:
#day[6] does generate key error

KeyError: 6

In [32]:
data={'Alabama':'Montgomery',
     'Arizona': 'Pheonix',
     'Georgia': 'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Columbus'}

In [33]:
#update an old entry
data.update({'Kentucky':'Louisville'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus'}

In [34]:
#add a new entry
data.update({'Louisiana':'Baton Rouge'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge'}

In [35]:
data.update({'Missouri': 'Jefferson City', 
            'Kentucky':'Frankfort'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

### Delete dictionary items using `del` and `pop`

In [36]:
#delete alabama using the del method
del data['Alabama']
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [37]:
# remove pop
data.pop('Ohio')

'Columbus'

In [38]:
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [39]:
#deletes the dictionary 
del data

In [40]:
#name error as the dictionary isn't present anymore
#data

NameError: name 'data' is not defined

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [42]:
data={'Alabama':'Montgomery',
     'Arizona': 'Pheonix',
     'Georgia': 'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Columbus'}

In [43]:
data.keys() #gives you the keys from the dictionary

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [44]:
data.values() #gives you the valueus from the dictionary

dict_values(['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Columbus'])

In [45]:
data.items() #gives you the items from the dictionary

dict_items([('Alabama', 'Montgomery'), ('Arizona', 'Pheonix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Columbus')])

### Loop through a dictionary

In [48]:
#unpack the dictionary keys
for i in data.keys():
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizona
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>

In [49]:
#unpack the dictionary values
for j in data.values():
    print(j)

Montgomery
Pheonix
Atlanta
Frankfort
Columbus

In [51]:
#print dictionary items - print as tuples
for item in data.items():
    print(item)
    print(type(item))

('Alabama', 'Montgomery')
<class 'tuple'>
('Arizona', 'Pheonix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Columbus')
<class 'tuple'>

In [53]:
#unpack dictionary items
for s,c in data.items():
    print(f"The state is {s}. The capitol of is {c}.")

The state is Alabama. The capitol of is Montgomery
The state is Arizona. The capitol of is Pheonix
The state is Georgia. The capitol of is Atlanta
The state is Kentucky. The capitol of is Frankfort
The state is Ohio. The capitol of is Columbus

### Convert dictionary to lists using `list()` function

In [54]:
# dictionary keys to a list
list(data.keys())

['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio']

In [55]:
# dictionary values to a list
list(data.values())

['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Columbus']

### A list() in a Dictionary : How to unpack all of the entries?

In [64]:
fav_language={'jen' : ['python','ruby'],
              'sarah' : ['C'],
              'edward' : ['ruby','java'],
              'phil' : ['python','java']}

In [65]:
fav_language

{'jen': ['python', 'ruby'],
 'sarah': ['C'],
 'edward': ['ruby', 'java'],
 'phil': ['python', 'java']}

In [76]:
for name, subjects in fav_language.items():
    print(f"The name is : {name.title()}. The favorite languages are: ")
    
    for i in subjects:
        print("\t\t\t\t\t\t",i)

The name is : Jen. The favorite languages are:
						 python
						 ruby
The name is : Sarah. The favorite languages are:
						 C
The name is : Edward. The favorite languages are:
						 ruby
						 java
The name is : Phil. The favorite languages are:
						 python
						 java

###  A Dictionary in a Dictionary

In [78]:
user={'est':{
    'first':'albert',
    'last':'einstein',
    'location':'prinston'
    },
      'mcurie':{
          'first':'marie',
          'last':'curie',
          'location':'paris'
      }
}

In [79]:
user

{'est': {'first': 'albert', 'last': 'einstein', 'location': 'prinston'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [82]:
#albert
user['est']['first']

'albert'

In [84]:
#paris
user['mcurie']['location']

'paris'

In [93]:
for username, user_info in user.items():
    print("Username:",username)
    #print(user_info)
    fullname=user_info['first']+" "+user_info['last']
    print("Fullname:",fullname)
    print("Location:", user_info['location'])

Username: est
Fullname: albert einstein
Location: prinston
Username: mcurie
Fullname: marie curie
Location: paris